 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Hello there! My name is Majd Arkilo and I'm Computer Science student at YorkU.</p>
                    <p>I have done 2 internships in the last 2 years: One as test anaylsyst and one as a backend devloper and that's where my passion for backend, microservices, cryptographics and DevOps grow.
                    <p>Currently I'm exploring the world of Data Science: Machine Learning, Big Data, Data Mining and Information Network.
                    <p>Please feel free to checkout my GitHub, LinkedIn and to email me at majd.arkilo@gmail.com.</p>
                </div>
            </div>
        </div>
    </section>
